* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #f2f2f2;
}
.cl {
  width: 500px;
  height: 480px;
  background-color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: 50%;
  transform: translate(-50%, -50%);
  color: white;
  padding: 50px;
  border-radius: 20px;
}
h1 {
  margin: 0;
  padding: 0 0 20px;
  color: black;
  text-align: center;
}
.signup label {
  width: 500px;
  padding: 0;
  font-weight: bold;
  color: black;
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
}
.signup input {
  width: 500px;
  height: 80px;
  margin-bottom: 15px;
  margin-top: 20px;
}
#login_email {
  height: 55px;
  outline: white;
  font-size: 20px;
  border-radius: 10px;
  border-color: grey;
  outline: none;
}
#pas {
  height: 55px;
  outline: white;
  font-size: 20px;
  border-radius: 10px;
}
.cl input[type="submit"] {
  border: none;

  height: 55px;

  background-color: grey;
  border-radius: 20px;
  color: white;
  font-size: 25px;
}
